// ==============================
// Custom style
// 自定义样式
// ==============================

.cat-cit {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: 2.5px dashed $global-color-accent;
    padding: 10px;
    font-size: 18px;
  
    .no-adb {
      color: black;
    }
}

.cat-cit:before {
    content: "";
    width: 100%;
    border-bottom: 3px dashed #2c678d;
    margin-bottom: 20px;
    display: block;
  }

.cat-cit:after {
    content: "";
    width: 100%;
    border-top: 3px dashed #2c678d;
    margin-top: 20px;
    display: block;
}

.breadcrumbs, span.tag-none-display {
    display: none;
}
