.gitlab-embed-snippets {
    margin: 0 !important;

    .file-holder.snippet-file-content {
        margin-block-end: 0 !important;
        margin-block-start: 0 !important;
        margin-left: calc((var(--card-padding)) * -1) !important;
        margin-right: calc((var(--card-padding)) * -1) !important;
        padding: 0 var(--card-padding) !important;
    }
}